name: Build Artifact

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install JDK
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Install Gradle
    - uses: gradle/gradle-build-action@v2
      id: setup-gradle
      with:
        gradle-version: 7.5.1
    - name: Builds
    - run: gradle build
    - name: Unloading
    - uses: actions/upload-artifact@v4
      with:
        name: Artifacts
        path: build/libs
